/*
	Group 6
	INFO 343 with Morris
    Kyle Bergman, Tammy Nguyen, Rhea Arora, Sean Cheong
*/

@import url(http://fonts.googleapis.com/css?family=Bevan);

body {
	background-image: url("../img/wood-grain-mahogany.jpg");
	font-family: 'Helvetica Neue', 'Helvetica', sans-serif;
	font-size: 14px;
	font-weight: bold;
	padding-top: 275px;
}

/*header*/

/* unvisited link */
a:link {
    color: #000000;
}

/* visited link */
a:visited {
    color: #000000;
}

#contact-info {
	float: right;
	font-size: 125%;
	margin-top: 15px;
	margin-right: 15px;
}

.nav-bar {
	font-family: "Bevan", 'Helvetica Neue', 'Helvetica', sans-serif;
	font-weight: inherit;
}

header,
.main-nav-scrolled {
	position: fixed !important;
	width: 100%;
	top: 0px;
}

#logo {
	display: block;
	margin: auto;
	height: 200px;
	width: 200px;
}

main, .nav-bar {
	position: relative;
}

nav, .row{
	text-align: center;
}

.nav-bar {
	height: 50px;
	margin-bottom: -50px;
	z-index: 150;
	box-shadow: 0 2px 3px rgba(0,0,0,.4);
}

#social {
	background-color: rgba(250,250, 250, .5);
	margin-bottom: 15px;
}

#top {
	margin-bottom: 20px;
}

ul {
	margin-top: 10px;
	font-size: 125%;
	display: inline-block;
	list-style-type: none;
}

li, li > p {
	display: inline;
	margin-right: 5px;
}

/*Middle Section*/
main {
	padding-top: 50px;
}

#buttons, #contact-info, #contact-info > p {
	display: inline-block;
}

/*bottom pieces*/

.piece {
	border: 5px solid rgb(242, 6, 46);
	background-color: #DEB887;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
}

/*for smaller screens*/
@media screen and (max-width: 750px) {
	#contact-info > p {
		display: none !important;
	}

	.nav-bar {
		height: 100px;
	}
}

/*
	CSS for buttons from http://designscrazed.org/html-css3-social-media-buttons/
*/

/* Wrapper */
.icon-button {
	background-color: white;
	border-radius: 3.6rem;
	cursor: pointer;
	display: inline-block;
	font-size: 2.0rem;
	height: 3.6rem;
	line-height: 3.6rem;
	margin: 0 5px;
	position: relative;
	text-align: center;
	-webkit-user-select: none;
	   -moz-user-select: none;
	    -ms-user-select: none;
	        user-select: none;
	width: 3.6rem;
}

/* Circle */
.icon-button span {
	border-radius: 0;
	display: block;
	height: 0;
	left: 50%;
	margin: 0;
	position: absolute;
	top: 50%;
	-webkit-transition: all 0.3s;
	   -moz-transition: all 0.3s;
	     -o-transition: all 0.3s;
	        transition: all 0.3s;
	width: 0;
}
.icon-button:hover span {
	width: 3.6rem;
	height: 3.6rem;
	border-radius: 3.6rem;
	margin: -1.8rem;
}
.twitter span {
	background-color: #4099ff;
}
.facebook span {
	background-color: #3B5998;
}

#google {
	margin-left: 105px;
}

/* Icons */
.icon-button i, #google {
	background: none;
	color: white;
	height: 3.6rem;
	left: 0;
	line-height: 3.6rem;
	position: absolute;
	top: 0;
	-webkit-transition: all 0.3s;
	   -moz-transition: all 0.3s;
	     -o-transition: all 0.3s;
	        transition: all 0.3s;
	width: 3.6rem;
	z-index: 10;
}
.icon-button .icon-twitter {
	color: #4099ff;
}
.icon-button .icon-facebook {
	color: #3B5998;
}
.icon-button:hover .icon-twitter,
.icon-button:hover .icon-facebook {
	color: white;
}

table {
	border: 5px solid rgb(242, 6, 46);
	background-color: #DEB887;
	clear:both;
	margin-top:20px;
}

th {
	font-size:24px;
	font-family: "Bevan", 'Helvetica Neue', 'Helvetica', sans-serif;
	color: black;
}

td {
	margin:20px;
	font-family: 'Helvetica Neue', 'Helvetica', sans-serif;
	color:black;
}



